body {
	padding: 0;
	margin: 0;
}
.time_view {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	background-color: var(--color-primary);
	border-radius: 9999px;
	font-size: 1rem;
	padding: 0.2rem 0.6rem; /* px-5 */
	cursor: pointer;
	position: relative;
	z-index: 10;
	&:active {
		background-color: var(--color-primary-dark);
	}
	&::before {
		content: '';
		position: absolute;
		inset: 0.1875rem;
		border-radius: 9999px;
		background-color: rgba(255, 255, 255, 0.1);
		z-index: 9;
		display: none;
	}
	&:hover::before {
		display: block;
	}
}
.player_button {
	&:not(.ghost) {
		border: none;
		background-color: var(--color-primary);
		color: var(--color-primary-text);
		border-radius: 9999px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.4rem;
		height: 2.4rem;
		cursor: pointer;
		position: relative;
		transition: all 0.03s ease-in-out;
		z-index: 10 !important;
		pointer-events: all;
		&:active {
			background-color: var(--color-primary-dark);
		}
		&.paused {
			transform: scale(1.4);
			z-index: 20 !important;
		}
	}
	&.ghost {
		border: none;
		color: white;
		background-color: transparent;
		display: flex !important;
		align-items: center;
		justify-content: center;
		width: 2.4rem;
		height: 3rem;
		position: relative;
		z-index: 10 !important;
	}
}
.controls_bottom {
	position: absolute;
	z-index: 11;
	justify-content: space-between;
	align-items: center;
	padding: 0.2rem 1rem;
	padding-bottom: 0.5rem;
	box-sizing: border-box;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 0.2s ease-out;
	display: flex;
	gap: 0.1rem;
	flex-direction: column-reverse;
	justify-content: space-between;
}
.sections_controls {
	display: flex;
	align-items: end;
	justify-content: space-between;
	width: 100%;
}
.controls_top {
	position: absolute;
	z-index: 11;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 64px;
	padding: 0.1rem 1rem 0 1rem;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.5s ease-out;
	& > * {
		display: flex;
		align-items: center;
		gap: 1rem;
		height: 100%;
	}
}
.time_range_bar {
	width: 100%;
	display: flex;
	align-items: center;
	height: 2rem;
	cursor: pointer;
	z-index: 10;
	justify-self: center;
	&:hover {
		& .time_range_hover {
			opacity: 1;
		}
		& .time_range_range {
			height: 0.5rem;
		}
		& .time_range_thumb {
			display: block;
		}
	}
	& .range {
		width: 100%;
		position: relative;
		height: 0.5rem;
		cursor: pointer;
		background-color: #50505080;
		transition: height 0.1s;
	}
	& .hover {
		transition: opacity all 2s;
		opacity: 0;
		position: absolute;
		height: 100%;
		z-index: 8;
		background: #b0b0b090;
	}
	& .fill {
		position: absolute;
		height: 100%;
		z-index: 9;
		background: linear-gradient(to right, red 0%, fuchsia 100%); /* from-red-600 to-fuchsia-700 */
	}
	& .buffered {
		position: absolute;
		height: 100%;
		z-index: 7;
		background: rgba(255, 255, 255, 0.7);
	}
	& .thumb {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1rem; /* size-4 */
		height: 1rem;
		border-radius: 9999px;
		background-color: red;
		pointer-events: none;
		z-index: 10;
	}
}
.preview {
	position: relative;
	inset: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	&[hidden] {
		visibility: hidden;
	}
	&,
	& * {
		pointer-events: none !important;
	}
	& .image {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center;
	}
	& .time {
		z-index: 10;
		position: absolute;
		bottom: 4rem !important;
		display: flex;
		justify-content: center;
		padding: 0.3rem 1rem;
		font-size: 2rem;
		border-radius: 1000px;
		background-color: var(--color-primary);
	}
}
.video_player {
	--color-primary: #0007;
	--color-primary-light: color-mix(in srgb, var(--color-primary) 90%, #ffffff50 20%);
	--color-primary-dark: color-mix(in srgb, var(--color-primary) 100%, black 40%);
	--color-primary-text: #fff;
	font-family: sans-serif;
	width: 100%;
	background-color: var(--color-primary-dark);
	aspect-ratio: 16/9;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	&:has(.barrier_container .barrier_item:hover) .sections_controls {
		opacity: 0;
		cursor: none;
	}
	&::backdrop {
		background-color: black !important;
	}
	& svg {
		transition: all ease-in-out 0.3s;
	}
	& svg,
	& * {
		color: var(--color-primary-text);
		stroke: var(--color-primary-text);
		box-sizing: border-box;
		-webkit-tap-highlight-color: transparent;
	}
	video {
		position: absolute;
		inset: 0;
		aspect-ratio: inherit;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
}
.rendition_button {
	& .badge {
		background-color: red;
		padding: 0 0.25rem;
		border-radius: 1px;
		z-index: 11;
		position: absolute;
		bottom: -0.25rem;
		left: -0.25rem;
	}
}
.rendition_select {
	position: fixed;
	z-index: 999 !important;
	display: flex !important;
	flex-direction: column;
	justify-content: flex-end;
	right: 50%;
	left: 50%;
	bottom: 0;
	max-width: 30rem;
	min-width: 10rem;
	width: 100%;
	transform: translateX(-50%);
	padding-top: 0.5rem;
	padding-bottom: 1.5rem;
	background-color: #2c2c2c;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	& .rendition_label {
		font-size: 1.5rem;
		padding: 0rem 0.75rem 0rem 1.75rem;
	}
	& .rendition_option {
		pointer-events: all !important;
		display: flex;
		justify-content: space-between;
		background-color: transparent;
		border: 0;
		align-items: center;
		font-size: 1.2rem; /* text-lg */
		text-align: start;
		padding: 0.7rem 0.75rem .7rem 1.75rem;
		&[data-current='true'] {
			background-color: #ffffff40;
		}
		&:active {
			background-color: #ffffff50;
		}
	}
}
.global_buffering {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
}
.sections_others {
	display: flex;
	flex: 2 5 0%;
	justify-content: flex-end;
	align-items: center;
	gap: 0.75rem;
}
.sections_overlay {
	position: absolute;
	z-index: 6;
	inset: 0;
	border-radius: inherit;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.buffering_container {
	--uib-size: 100px;
	--uib-color: white;
	--uib-speed: 2.5s;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: var(--uib-size);
	height: calc(var(--uib-size) * 0.6);
	.cube {
		flex-shrink: 0;
		width: calc(var(--uib-size) * 0.2);
		height: calc(var(--uib-size) * 0.2);
		animation: jump var(--uib-speed) ease-in-out infinite;
	}
	.cube__inner {
		display: block;
		height: 100%;
		width: 100%;
		border-radius: 25%;
		background-color: var(--uib-color);
		transform-origin: center bottom;
		animation: morph var(--uib-speed) ease-in-out infinite;
		transition: background-color 0.3s ease;
	}
	.cube:nth-child(2) {
		animation-delay: calc(var(--uib-speed) * -0.36);
		.cube__inner {
			animation-delay: calc(var(--uib-speed) * -0.36);
		}
	}
	.cube:nth-child(3) {
		animation-delay: calc(var(--uib-speed) * -0.2);

		.cube__inner {
			animation-delay: calc(var(--uib-speed) * -0.2);
		}
	}
}
.skip_container {
	position: absolute;
	inset: 0;
	pointer-events: none;
	& .skip_item {
		position: absolute;
		pointer-events: all !important;
		z-index: 5;
		inset: 0;
		overflow: hidden;
		width: 50%;
		&.left {
			right: unset !important;
		}
		&.right {
			left: unset !important;
		}
	}
}
.player_skip_view {
	position: absolute;
	top: 50%;
	color: white;
	font-size: 40px;
	transform: translateY(-50%);
	z-index: 20;
	opacity: 0;
	transition: all ease-in 0.2s;
	pointer-events: none;
	letter-spacing: 30px;
	text-shadow: 0 0 10px black;
	&.left {
		animation: left 0.5s;
		left: 50px;
	}
	&.right {
		animation: right 0.5s;
		right: 50px;
	}
}
.volume_range {
	width: 5rem;
	position: relative;
	height: 0.25rem;
	cursor: pointer;
	cursor: pointer;
	z-index: 11;
	display: flex;
	align-items: center;
	& .volume_range_fill {
		position: absolute;
		z-index: 10;
		height: 0.3rem;
		background-color: white;
		border-top-left-radius: 100px;
		border-bottom-left-radius: 100px;
	}
	& .volume_range_track {
		z-index: 9;
		position: absolute;
		height: 0.3rem;
		width: 100%;
		background-color: #ffffff50;
		border-radius: 100px;
	}

	& .volume_range_thumb {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1rem; /* size-4 */
		z-index: 11;
		height: 1rem;
		background-color: white;
		border-radius: 9999px;
	}
}
@media screen and (max-width: 500px) {
	#video_player {
		aspect-ratio: initial !important;
		height: 300px;
	}
}
@keyframes right {
	from {
		translate: -20px 0;
	}
	to {
		translate: 0 0;
	}
}
@keyframes left {
	from {
		translate: 20px 0;
	}
	to {
		translate: 0 0;
	}
}
@keyframes jump {
	0% {
		transform: translateY(0px);
	}

	30% {
		transform: translateY(0px);
		animation-timing-function: ease-out;
	}

	50% {
		transform: translateY(-200%);
		animation-timing-function: ease-in;
	}

	75% {
		transform: translateY(0px);
		animation-timing-function: ease-in;
	}
}
@keyframes morph {
	0% {
		transform: scaleY(1);
	}

	10% {
		transform: scaleY(1);
	}

	20%,
	25% {
		transform: scaleY(0.6) scaleX(1.3);
		animation-timing-function: ease-in-out;
	}

	30% {
		transform: scaleY(1.15) scaleX(0.9);
		animation-timing-function: ease-in-out;
	}

	40% {
		transform: scaleY(1);
	}

	70%,
	85%,
	100% {
		transform: scaleY(1);
	}

	75% {
		transform: scaleY(0.8) scaleX(1.2);
	}
}
