.rendition {
	position: relative;
	display: flex;
}
.label {
	outline: none !important;
	font-size: 0.75rem;
	font-weight: bold;
    border: none;
	background-color: var(--color-primary);
	color: var(--color-primary-text);
	border-radius: 9999px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.75rem;
	height: 2.75rem;
	cursor: pointer;
	position: relative;
	transition: all 0.03s ease-in-out;
	z-index: 10 !important;
}
.label:active {
	background-color: var(--color-primary-dark);
}
.label::before {
	content: '';
	position: absolute;
	inset: 0.1875rem;
	border-radius: 9999px;
	background-color: rgba(255, 255, 255, 0.1);
	z-index: 9;
	display: none;
}
.label:hover::before {
	display: block;
}
.label .badge {
	background-color: red;
	padding: 0 0.25rem;
	border-radius: 1px;
	z-index: 11;
	position: absolute;
	top: -0.25rem;
	right: -0.25rem;
}
.label svg {
	width: 1.5rem;
	height: 1.5rem;
}
.levels {
	position: absolute;
	z-index: 12;
	display: flex !important;
	flex-direction: column-reverse;
	justify-content: flex-end;
	right: 0rem;
	bottom: 4.5rem;
	width: 12.5rem;
	height: 14rem;
	padding: 0.5rem;
	background-color: var(--color-primary);
	border-radius: 0.5rem;
}
.level {
	height: 100%;
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	border: 0;
	align-items: center;
	font-size: 1.125rem; /* text-lg */
	text-align: start;
	padding-left: 1.75rem; /* pl-7 */
	padding-right: 0.75rem; /* pr-3 */
	border-radius: 0.5rem;
}
.level:hover {
	background-color: rgba(255, 255, 255, 0.1);
}