* {
	-webkit-tap-highlight-color: transparent;
}

.video_player * {
	box-sizing: border-box;
}
.video_player {
	--color-primary: #0007;
	--color-primary-light: color-mix(in srgb, var(--color-primary) 90%, #ffffff50 20%);
	--color-primary-dark: color-mix(in srgb, var(--color-primary) 100%, black 40%);
	--color-primary-text: #fff;
	font-family: sans-serif;
	width: 100%;
	border-radius: 5px;
	background-color: var(--color-primary-dark);
	aspect-ratio: 16/9;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	&:has(.barrier_container .barrier_item:hover) .sections_controls {
		opacity: 0;
		cursor: none;
	}
	&::backdrop {
		background-color: black !important;
	}
	& svg {
		transition: all ease-in-out 0.3s;
	}
	& svg,
	& * {
		color: var(--color-primary-text);
		stroke: var(--color-primary-text);
	}
	video {
		position: absolute;
		inset: 0;
		border-radius: inherit;
		aspect-ratio: inherit;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
}