* {
	-webkit-tap-highlight-color: transparent;
}

.video_player * {
	box-sizing: border-box;
}
.video_player {
	--color-primary: #0007;
	--color-primary-light: color-mix(in srgb, var(--color-primary) 90%, #ffffff50 20%);
	--color-primary-dark: color-mix(in srgb, var(--color-primary) 100%, black 40%);
	--color-primary-text: #fff;
	font-family: sans-serif;
	width: 100%;
	border-radius: 5px;
	background-color: var(--color-primary-dark);
	aspect-ratio: 16/9;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	&:has(.barrier_container .barrier_item:hover) .sections_controls {
		opacity: 0;
		cursor: none;
	}
	&::backdrop {
		background-color: black !important;
	}
	& svg {
		transition: all ease-in-out 0.3s;
	}
	& svg,
	& * {
		color: var(--color-primary-text);
		stroke: var(--color-primary-text);
	}
	video {
		position: absolute;
		inset: 0;
		border-radius: inherit;
		aspect-ratio: inherit;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
}
@media screen and (max-width: 500px) {
	#video_player {
		aspect-ratio: initial !important;
		height: 300px;
	}
	.time_range_preview {
		bottom: 7rem !important;
		width: 35% !important;
	}
}
@keyframes right {
	from {
		translate: -20px 0;
	}
	to {
		translate: 0 0;
	}
}
@keyframes left {
	from {
		translate: 20px 0;
	}
	to {
		translate: 0 0;
	}
}

.time_range_bar {
	width: 98%;
	display: flex;
	align-items: center;
	height: 2.5rem; /* h-10 = 2.5rem */
	cursor: pointer;
	position: absolute;
	z-index: 10;
	justify-self: center;
	top: -1.25rem; /* -top-5 = -1.25rem */
	left: 50%;
	transform: translateX(-50%);
	&:hover .time_range_hover {
		opacity: 1;
	}
}
.time_range_bar:hover .time_range_range {
	height: 0.5rem; /* h-2 = 0.5rem */
}
.time_range_bar:hover .time_range_thumb {
	display: block;
}

.time_range_range {
	width: 100%;
	position: relative;
	height: 0.3rem;
	cursor: pointer;
	background-color: #50505080;
	transition: height 0.1s;
}
.time_range_hover {
	transition: opacity all 2s;
	opacity: 0;
	position: absolute;
	height: 100%;
	z-index: 8;
	background: #b0b0b090;
}

.time_range_fill {
	position: absolute;
	height: 100%;
	z-index: 9;
	background: linear-gradient(to right, red 0%, fuchsia 100%); /* from-red-600 to-fuchsia-700 */
}

.time_range_buffered {
	position: absolute;
	height: 100%;
	z-index: 7;
	background: rgba(255, 255, 255, 0.7);
}

.time_range_thumb {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1rem; /* size-4 */
	height: 1rem;
	border-radius: 9999px;
	background-color: red;
	pointer-events: none;
	z-index: 10;
}

.time_range_preview {
	position: absolute;
	bottom: 8rem;
	width: 17rem;
	aspect-ratio: 16/9;
	border-radius: 0.3rem;
	display: flex;
	justify-content: center;
	background-color: var(--color-primary, rgba(0, 0, 0, 0.6));
	outline: 1px solid var(--color-primary-light);
	backdrop-blur: 8px;
	z-index: 10;
	&[hidden] {
		visibility: hidden;
	}
}
.time_range_preview[data-image='false'] {
	aspect-ratio: unset;
	background-color: red !important;
}

.time_range_preview_image {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	border-radius: inherit;
}

.time_range_preview_time {
	z-index: 10;
	position: absolute;
	bottom: -3rem;
	width: 5rem;
	border-radius: 0.3rem;
	display: flex;
	justify-content: center;
	padding: 0.3rem 0;
	font-size: 1.125rem;
	text-shadow: 0 0 10px black;
}

.global_volume_controls {
	overflow: hidden;
	transition: all 0.1s ease-in;
	transition-delay: 2s;
	width: 2.75rem;
	border: none;
	background-color: var(--color-primary);
	color: var(--color-primary-text);
	border-radius: 9999px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	position: relative;
	padding-right: 1.25rem;
}
.global_volume_controls > * {
	&:not(.volume_range_bar) {
		background-color: transparent !important;
		width: 2.75rem;
		height: 2.75rem;
		padding: 0.6rem;
	}
	&::before {
		content: none !important;
	}
	&.volume_range_bar {
		height: 2.75rem;
		transition-delay: 2s;
		visibility: hidden;
	}
}

.volume_range_bar {
	width: 100%;
	position: relative;
	height: 0.25rem;
	cursor: pointer;
	cursor: pointer;
	z-index: 2;
	display: flex;
	align-items: center;
}

.volume_range_fill {
	position: absolute;
	z-index: 9;
	height: 0.3rem;
	background-color: white;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}
.volume_range_track {
	z-index: 8;
	position: absolute;
	height: 0.3rem;
	width: 100%;
	background-color: #ffffff50;
	border-radius: 100px;
}

.volume_range_thumb {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1rem; /* size-4 */
	z-index: 10;
	height: 1rem;
	background-color: white;
	border-radius: 9999px;
}

.rendition_root {
	position: relative;
	display: flex;
}

.rendition_label {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 0.75rem;
	font-weight: bold;
}

.rendition_label .badge {
	background-color: red;
	padding: 0 0.25rem;
	border-radius: 1px;
	z-index: 11;
	position: absolute;
	top: -0.25rem;
	right: -0.25rem;
}

.rendition_label svg {
	width: 1.5rem;
	height: 1.5rem;
}

.rendition_select {
	position: absolute;
	z-index: 12;
	display: flex !important;
	flex-direction: column-reverse;
	justify-content: flex-end;
	right: -5rem;
	bottom: 4.5rem;
	width: 12.5rem;
	height: 11.25rem;
	padding: 0.5rem;
	background-color: var(--color-primary);
	border-radius: 0.5rem;
	&[data-mobile="true"] {
		top: 3rem;
		height: 8rem;
		bottom: unset !important;
		& > .rendition_option {
			font-size: 1rem;
		}
	}
}

.rendition_option {
	height: 100%;
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	border: 0;
	align-items: center;
	font-size: 1.125rem; /* text-lg */
	text-align: start;
	padding-left: 1.75rem; /* pl-7 */
	padding-right: 0.75rem; /* pr-3 */
	border-radius: 0.5rem;
}

.rendition_option:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

/* ======================= */
/* Global Controls */
/* ======================= */
.global_time_view {
	display: flex;
	align-items: center;
	gap: 0.625rem; /* gap-2.5 */
	background-color: var(--color-primary);
	height: 2.5rem; /* h-10 */
	border-radius: 9999px;
	padding: 0 1.25rem; /* px-5 */
	cursor: pointer;
	position: relative;
	z-index: 10;
}

.global_time_view:active {
	background-color: var(--color-primary-dark);
}

.global_time_view::before {
	content: '';
	position: absolute;
	inset: 0.1875rem; /* 3px */
	border-radius: 9999px;
	background-color: rgba(255, 255, 255, 0.1);
	z-index: 9;
	display: none;
}

.global_time_view:hover::before {
	display: block;
}

.global_player_button {
	border: none;
	background-color: var(--color-primary);
	color: var(--color-primary-text);
	border-radius: 9999px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.75rem; /* size-11 */
	height: 2.75rem;
	cursor: pointer;
	position: relative;
	transition: all 0.03s ease-in-out;
	z-index: 10 !important;
}
.global_player_button.play {
	width: 3rem;
	height: 3rem;
	& > svg {
		width: 2rem;
		height: 2rem;
	}
}

.global_player_button:active {
	background-color: var(--color-primary-dark);
}

.global_player_button::before,
.global_volume_controls::before {
	content: '';
	position: absolute;
	inset: 0.1875rem;
	border-radius: 9999px;
	background-color: rgba(255, 255, 255, 0.1);
	z-index: 9;
	display: none;
}

.global_player_button:hover::before,
.global_volume_controls:hover::before {
	display: block;
}
.global_volume_controls:hover {
	transition-delay: 0s;
	width: 8.5rem;
	padding-right: 1.25rem;
	& > .volume_range_bar {
		width: 100%;
		transition-delay: 0s;
		visibility: visible;
		display: flex !important;
	}
}

.global_paused {
	position: absolute;
	transform: scale(2);
	z-index: 50 !important;
	pointer-events: all !important;
}

.global_buffering {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
}

.controls_bottom {
	position: absolute;
	z-index: 11;
	justify-content: space-between;
	align-items: center;
	height: 64px;
	padding: 1rem 2rem 0.75rem 2rem;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 0.5s ease-out;
	&:not([hidden]) {
		display: flex;
	}
}
.controls_top {
	position: absolute;
	z-index: 11;
	display: flex;
	justify-content: end;
	align-items: center;
	height: 64px;
	gap: 0.75rem;
	padding: 1rem 2rem 0.75rem 2rem;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.5s ease-out;
}

.sections_volume {
	display: flex;
	flex: 3 5 0%;
	justify-content: flex-start;
	align-items: center;
	gap: 0.75rem;
}

.sections_others {
	display: flex;
	flex: 2 5 0%;
	justify-content: flex-end;
	align-items: center;
	gap: 0.75rem;
}
.sections_overlay {
	position: absolute;
	z-index: 6;
	inset: 0;
	border-radius: inherit;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.buffering_container {
	--uib-size: 100px;
	--uib-color: white;
	--uib-speed: 2.5s;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: var(--uib-size);
	height: calc(var(--uib-size) * 0.6);
	.cube {
		flex-shrink: 0;
		width: calc(var(--uib-size) * 0.2);
		height: calc(var(--uib-size) * 0.2);
		animation: jump var(--uib-speed) ease-in-out infinite;
	}
	.cube__inner {
		display: block;
		height: 100%;
		width: 100%;
		border-radius: 25%;
		background-color: var(--uib-color);
		transform-origin: center bottom;
		animation: morph var(--uib-speed) ease-in-out infinite;
		transition: background-color 0.3s ease;
	}
	.cube:nth-child(2) {
		animation-delay: calc(var(--uib-speed) * -0.36);
		.cube__inner {
			animation-delay: calc(var(--uib-speed) * -0.36);
		}
	}
	.cube:nth-child(3) {
		animation-delay: calc(var(--uib-speed) * -0.2);

		.cube__inner {
			animation-delay: calc(var(--uib-speed) * -0.2);
		}
	}
}

@keyframes jump {
	0% {
		transform: translateY(0px);
	}

	30% {
		transform: translateY(0px);
		animation-timing-function: ease-out;
	}

	50% {
		transform: translateY(-200%);
		animation-timing-function: ease-in;
	}

	75% {
		transform: translateY(0px);
		animation-timing-function: ease-in;
	}
}

@keyframes morph {
	0% {
		transform: scaleY(1);
	}

	10% {
		transform: scaleY(1);
	}

	20%,
	25% {
		transform: scaleY(0.6) scaleX(1.3);
		animation-timing-function: ease-in-out;
	}

	30% {
		transform: scaleY(1.15) scaleX(0.9);
		animation-timing-function: ease-in-out;
	}

	40% {
		transform: scaleY(1);
	}

	70%,
	85%,
	100% {
		transform: scaleY(1);
	}

	75% {
		transform: scaleY(0.8) scaleX(1.2);
	}
}

.barrier_container {
	position: absolute;
	inset: 0;
	pointer-events: none;
	& .barrier_item {
		cursor: none;
		position: absolute;
		pointer-events: all !important;
		z-index: 20;
		inset: 0;
		bottom: 6rem;
		overflow: hidden;
		&.left {
			right: unset !important;
			width: 5px;
		}
		&.top {
			bottom: unset !important;
			height: 5px;
		}
		&.right {
			left: unset !important;
			width: 5px;
		}
	}
}

.skip_container {
	position: absolute;
	inset: 0;
	pointer-events: none;
	& .skip_item {
		position: absolute;
		pointer-events: all !important;
		z-index: 5;
		inset: 0;
		overflow: hidden;
		width: 35%;
		&.left {
			right: unset !important;
		}
		&.right {
			left: unset !important;
		}
	}
}
.player_skip_view {
	position: absolute;
	top: 50%;
	color: white;
	font-size: 40px;
	transform: translateY(-50%);
	z-index: 20;
	opacity: 0;
	transition: all ease-in 0.2s;
	pointer-events: none;
	letter-spacing: 30px;
	text-shadow: 0 0 10px black;
	&.left {
		animation: left 0.5s;
		left: 50px;
	}
	&.right {
		animation: right 0.5s;
		right: 50px;
	}
}
