.video_player {
	--color-primary: #0007;
	--color-primary-light: color-mix(in srgb, var(--color-primary) 90%, #ffffff50 20%);
	--color-primary-dark: color-mix(in srgb, var(--color-primary) 100%, black 40%);
	--color-primary-text: #fff;
	font-family: sans-serif;
	width: 100%;
	border-radius: 10px;
	background-color: black;
	aspect-ratio: 16/9;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	color-scheme: dark;
	overflow: hidden;
	&:has(.root.hidden) {
		cursor: none !important;
	}
	&:not(:has(.root.hidden)) > video {
		cursor: pointer;
	}
	video {
		position: absolute;
		inset: 0;
		border-radius: inherit;
		aspect-ratio: inherit;
		width: 100%;
		height: 100%;
	}
	* {
		box-sizing: border-box;
		color: white;
	}
}
.root {
	opacity: 100%;
	transition: all ease-out 0.5s;
}
.root.hidden > * > * {
	opacity: 0%;
}
.controls {
	position: absolute;
	z-index: 11;
	justify-content: space-between;
	align-items: center;
	height: 64px;
	padding: 1rem;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 0.5s ease-out;
	&:not([hidden]) {
		display: flex;
	}
}
.overlay {
	position: absolute;
	z-index: 6;
	inset: 0;
	border-radius: inherit;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.volume {
	display: flex;
	flex: 3 5 0%;
	justify-content: flex-start;
	align-items: center;
	gap: 0.75rem;
}
.others {
	display: flex;
	flex: 2 5 0%;
	justify-content: flex-end;
	align-items: center;
	gap: 0.75rem;
}
.paused {
	opacity: 0%;
	position: absolute;
	transform: scale(1);
	z-index: 50 !important;
	pointer-events: all !important;
	&[data-paused='true'] {
		opacity: 100%;
		transform: scale(2);
	}
}
.buffering {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	z-index: 20;
	border-radius: 1000px;
	border-right: 5px solid white;
	border-left: 5px solid white;
	opacity: 100% !important;
	animation: buffering 1s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}
.button {
	border: none;
	background-color: var(--color-primary);
	color: var(--color-primary-text);
	border-radius: 9999px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.75rem;
	height: 2.75rem;
	cursor: pointer;
	position: relative;
	transition: all 0.2s ease-in-out;
	z-index: 10 !important;
}
.button.play {
	width: 3rem;
	height: 3rem;
	& > svg {
		width: 2rem;
		height: 2rem;
	}
}
.button:active,
.time_display:active {
	background-color: var(--color-primary-dark);
}
.button::before,
.time_display::before {
	content: '';
	position: absolute;
	inset: 0.1875rem;
	border-radius: 9999px;
	background-color: rgba(255, 255, 255, 0.1);
	z-index: 9;
	display: none;
}
.button:hover::before,
.time_display:hover::before {
	display: block;
}
.time_display {
	display: flex;
	align-items: center;
	gap: 0.625rem;
	background-color: var(--color-primary);
	height: 2.75rem;
	border-radius: 9999px;
	padding: 0 1.25rem;
	cursor: pointer;
	position: relative;
	z-index: 10;
}
.skip_view {
	position: absolute;
	top: 50%;
	color: white;
	font-size: 40px;
	transform: translateY(-50%);
	z-index: 20;
	opacity: 0;
	transition: all ease-in 0.2s;
	pointer-events: none;
	letter-spacing: 30px;
	text-shadow: 0 0 10px black;
	&.left {
		animation: left 0.5s;
		left: 50px;
	}
	&.right {
		animation: right 0.5s;
		right: 50px;
	}
}
[data-tooltip] {
	position: relative;
	&:hover::after {
		transition-delay: 500ms;
		opacity: 100%;
	}
}
[data-tooltip]::after {
	content: attr(data-tooltip);
	opacity: 0%;
	position: absolute;
	top: -30px;
	left: 50%;
	right: 50%;
	width: max-content;
	font-size: medium !important;
	font-weight: 500 !important;
	transform: translateX(-50%);
	background-color: #00000099;
	padding: 2px 5px;
	border-radius: 3px;
	white-space: nowrap;
	text-align: center;
	transition: all ease-out 0.1s;
	pointer-events: none !important;
}
@keyframes buffering {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
@keyframes right {
	from {
		translate: -20px 0;
	}
	to {
		translate: 0 0;
	}
}
@keyframes left {
	from {
		translate: 20px 0;
	}
	to {
		translate: 0 0;
	}
}

@media (max-width: 700px) {
	.download {
		display: none;
	}
}
